
@font-face 
  font-family: 'AktivGrotesk'
  src: url(/fonts/AktivGroteskBold.ttf)
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'AktivGrotesk'
  src: url(/fonts/AktivGrotesk.ttf)
  font-weight: normal
  font-style: normal


@font-face 
  font-family: 'HelvLight'
  src: url(/fonts/HelvLight.ttf)
  font-weight: normal
  font-style: normal
