// Source & doc : https://gist.github.com/SolalDR/a0f80807d48808bb95a04afe76bdc093

// Variables

$col: 12
$step: 6
$space: 15px
$main-breakpoint: 1080px
$breakpoints: ( xl: 1360px, l: 1080px, m: 920px, s: 768px, xs: 360px )

// Utils

$directions: ( top: t, bottom: b, left: l, right: r )
$properties: ( margin: m, padding: p )

// Grid

@mixin grid($size)
  max-width: $size
  margin: auto
  &::after
    display: table
    clear: both
    width: 100%

.grid
  @include grid($main-breakpoint)
  @each $breakpoint, $value in $breakpoints
    &-#{$breakpoint} 
      @include grid($value)

// Columns

@for $i from 1 to $col
  @for $j from 1 to $col
    $w: $i/$j*100%
    .col-#{$i}-#{$j} 
      width: $w
      float: left
    .left-#{$i}-#{$j} 
      margin-left: $w
    .right-#{$i}-#{$j} 
      margin-right: $w

    @each $breakpoint, $value in $breakpoints
      @media screen and (min-width: #{$value})
        .col-#{$breakpoint}-#{$i}-#{$j}
          width: $w
          float: left
        .left-#{$breakpoint}-#{$i}-#{$j} 
          margin-left: $w
        .right-#{$breakpoint}-#{$i}-#{$j} 
          margin-right: $w

// Margin, padding

@for $i from 1 to $step
  @each $property, $short_p in $properties
    $value: $space*$i
    .#{$short_p}-#{$i}
      #{$property}: $value

    @each $direction, $short_d in $directions
      .#{$short_p}#{$short_d}-#{$i}
        #{$property}-#{$direction}: $space*$i

// Hide / Show

@each $breakpoint, $value in $breakpoints
  @media screen and (max-width: #{$value})
    .hide-#{$breakpoint}
      display: none
  @media screen and (min-width: #{$value})
    .show-#{$breakpoint}
      display: none


// Center

.center-x
  margin-left: auto
  margin-right: auto
  text-align: center

.center-y
  display: flex
  flex-direction: column
  justify-content: center

// Pane

.pane
  min-height: 100vh
  
// Text

.t-left
  text-align: left
.t-right
  text-align: right
.w-bold
  font-weight: bold
.w-thin
  font-weight: thin
.w-regular
  font-weight: regular
