
// Variables

$col: 12
$step: 5
$space: 10px
$breakpoints: ( xl: 1360px, l: 1080px, m: 920px, s: 768px, xs: 360px )

// Utils

$directions: ( top: t, bottom: b, left: l, right: r )
$properties: ( margin: m, padding: p )

// Grid

@for $i from 1 to $col
  @for $j from 1 to $col
    $w: $i/$j*100% // Width in percent
    .col-#{$i}-#{$j} 
      width: $w

    // Breakpoints
    @each $breakpoint, $value in $breakpoints
      @media screen and (min-width: #{$value})
        .col-#{$breakpoint}-#{$i}-#{$j}
          width: $w

// Margin, padding

@for $i from 1 to $step
  @each $property, $short_p in $properties
    $value: $space*$i
    .#{$short_p}-#{$i}
      #{$property}: $value

    @each $direction, $short_d in $directions
      .#{$short_p}#{$short_d}-#{$i}
        #{$property}-#{$direction}: $space*$i

// Hide / Show

@each $breakpoint, $value in $breakpoints
  @media screen and (max-width: #{$value})
    .hide-#{$breakpoint}
      display: none
  @media screen and (min-width: #{$value})
    .show-#{$breakpoint}
      display: none
