body
  font-family: $font-primary
  overflow-x: hidden

p
  line-height: 1.6em
  font-size: 1em

.bordered-paragraph
  padding-top: 10px

  &::before
    content: ''
    background: #000
    width: 10%
    height: 1px
    margin:
      left: auto
      bottom: 10px
    position: relative
    display: block

.content
  p
    margin: 5px

.link
  color: #000

#canvas
  position: fixed
  top: 0
  left: 0

.fs-s
  font-size: $size-s

.fs-m
  font-size: $size-m

.dg.ac
  z-index: 999 !important

.d-none
  display: none

.clr
  clear: both

.page-article
  padding: 80px 0


@media print 
  canvas
    display: none
    
  *[data-page] 
    background-position: center
    background-size: contain
    background-repeat: no-repeat

  .page-home 
    background-image: image-url("backgrounds/bg_home.jpg")
  .page-timeline 
    background-image: image-url("backgrounds/bg_timeline.jpg")
  .page-article 
    background-image: image-url("backgrounds/bg_article.jpg")
  .page-sitography 
    background-image: image-url("backgrounds/bg_sitogrphy.jpg")
