body
  font-family: $font-primary

p
  line-height: 1.4em
  font-size: 11px

.content
  p
    margin: 5px

#canvas
  position: fixed
  top: 0
  left: 0

.fs-s
  font-size: $size-s

.fs-m
  font-size: $size-m

.dg.ac
  z-index: 999 !important

.d-none
  display: none

.clr 
  clear: both
