---
title: Accueil
class_name: block-accueil 
---

<div class="accueil">
  <h1 class="title col-xs-1-2 left-xs-1-2">
    <span class="title__crop title__crop--hide">control</span>
    <span class="title__crop title__crop--hide title__crop--push">gesture</span>   
  </h1>   
</div>
