---
title: Gesture control
class_name: home
---

<div class="page-<%= current_page.data.class_name %>" data-page="<%= current_page.data.class_name %>">
  <div class="content content--hidden content--bottom-right t-right">
    <p class="w-bold">made with ♥︎ by:</p>
    <p class="fs-s">
      Solal Dussout-Revel<br>
      Julien Dargelos<br>
      Clémentine Espinel<br>
      Rémi Eliet
    </p>
    <p class="fs-s bordered-paragraph">
      <%= link_to 'sitography', '/sitography.html', class: :link %>
    </p>
  </div>

  <h1 class="title col-s-1-2 left-s-1-2">
    <span class="title__crop title__crop--hidden">control</span>
    <span class="title__crop title__crop--hidden title__crop--push">gesture</span>
  </h1>

  <div class="content content--hidden col-s-1-4 left-s-1-6 mt-4">
    <p>
      Technological watch from October 2017 the 2th to April 2018, the 13th. Realized as part of the Bachelor in Interactive&nbsp;Design&nbsp;&&nbsp;Development of the Gobelins School. The subject is about gesture control.
    </p>
  </div>

  <div class="center-x col-1-1 mt-5">
    <%= link_to 'see the timeline', '/timeline.html', class: 'btn btn--hidden' %>
  </div>
</div>
