---
title: Accueil
class_name: home
---

<div class="page-<%= current_page.data.class_name %>" data-page="<%= current_page.data.class_name %>">
  <div class="content content--hide content--bottom-right t-right">
    <p class="w-bold">Réalisé par&nbsp;:</p>
    <p class="fs-s">
      Solal Dussout-Revel<br>
      Julien Dargelos<br>
      Clémentine Espinel<br>
      Rémi Eliet
    </p>
  </div>

  <h1 class="title col-s-1-2 left-s-1-2">
    <span class="title__crop title__crop--hide">control</span>
    <span class="title__crop title__crop--hide title__crop--push">gesture</span>
  </h1>

  <div class="content content--hide col-s-1-4 left-s-1-6 mt-4">
    <p>Projet de veille technologique sur une période allant du 2 Octobre 2017 à Avril 2018. Réalisé dans le cadre de notre formation Bachelor "Designer et Développeur Interactif" à Gobelins. Sujet traité&nbsp;: le contrôle gestuel</p>
  </div>

  <div class="center-x col-1-1 mt-5">
    <%= link_to 'voir la timeline', '/timeline.html', class: 'btn btn--hide' %>
  </div>
</div>
