---
title: Timeline
class_name: timeline
---

<div class="page-<%= current_page.data.class_name %>" data-page="<%= current_page.data.class_name %>">

  <h1 class="title col-s-1-2 left-s-1-6">
    <span class="title__crop title__crop--hide">Timeline</span>
  </h1>
  <div class="clr"></div>
  <div class="timeline timeline--hide mt-4">
    <%= svg "timeline" %>

    <div id="timeline__data" class="timeline__data">
      <%= data.contents.articles.map{ |a| a.slice :name, :slug, :date }.to_json.html_safe %>
    </div>
    <div class="timeline__bubbles"></div>
  </div>
</div>
