.article
  padding:
    right: $gutter
    left: 35px
  width: 100%
  max-width: 1000px
  margin:
    left: auto
    right: auto

  &__header
    $margin-left: -100%/7
    margin-left: $margin-left

  &__title, &__date, &__category-icon, &__link
    transition: .6s

  &--hidden &__title, &--hidden &__date, &--hidden &__category-icon, &--hidden &__link
    opacity: 0

  &--hidden &__title, &--hidden &__date
    transform: translateX(-20px)

  &__title
    transition-delay: .2s

  &__date
    font:
      size: 2.5em
      family: $font-secondary
    line-height: 1.125em
    color: $color-3
    transition-delay: .3s

  &__category
    top: 50%
    left: 25%
    position: fixed
    transform: translate(-50%, -50%)
    transition-delay: .6s

  &__link
    margin-top: 30px
    text-align: center
    transition-delay: .4s

  &__content
    margin-top: $gutter

  +responsive(s)
    padding:
      right: 0
      left: 0

    &__header
      margin-left: 0
