.aside
  $width: 200px
  width: $width
  top: 0
  left: 0
  padding:
    top: 40px
    bottom: 40px
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  position: fixed
  transition: .4s
  transform: translateX(0)
  opacity: 1

  &--right
    left: auto
    right: 0

  &--align-bottom
    justify-content: end

  &--hidden
    transform: translateX(-20px)
    opacity: 0

  &--left-bottom
    justify-content: end
    width: auto
    left: 30px

  // @media screen and (max-width: $width*6)
  //   $relative-width: 100%/6
  //   width: $relative-width

  &__content
    flex-grow: 0
    flex-shrink: 0

    
