.btn
  border-radius: 20px
  background-color: white
  padding: 12px 35px
  color: black
  text-decoration: none
  box-shadow: 0 3px 10px rgba(black, 0.08)
  border-radius: 40px
  font-size: 12px
  transition: .2s
  transform: scale(1)
  display: inline-block
  opacity: 1

  &:hover
    box-shadow: 0 5px 20px rgba(black, 0.1)
    transform: scale(1.03)

  &:active
    box-shadow: 0 1px 7px rgba(black, 0.08)
    transform: scale(.97)
    transition: .1s

  &--hidden
    transform: scale(1.03) translateY(30px)
    opacity: 0
