.content
  overflow: hidden

  @each $vertical in (top, bottom)
    @each $horizontal in (left, right)
      &--#{$vertical}-#{$horizontal}
        #{$vertical}: #{$gutter}
        #{$horizontal}: #{$gutter}
        position: fixed

  > *
    margin: 5px
    transform: translateX(0)
    transition: 1.5s cubic-bezier(.53, -0.23, .18, 1.3)

  &--hide
    > *
      transform: translateX(calc(-100% - 10px))
