.content
  overflow: hidden

  @each $vertical in (top, bottom)
    @each $horizontal in (left, right)
      &--#{$vertical}-#{$horizontal}
        #{$vertical}: #{$gutter}
        #{$horizontal}: #{$gutter}
        position: fixed

  > *
    margin: 5px
    transform: translateX(0)
    transition: .8s
    opacity: 1

  &--hidden
    > *
      opacity: 0
      transform: translateX(-30px)
