// Scoped in main because of Datgui, so Datgui sucks
main .title
  font:
    size: 5em
    weight: bold
    family: $font-secondary
  line-height: 1.125em

  *
    font:
      weight: bold
      family: $font-secondary

  &__crop
    overflow: hidden
    display: block
    position: relative
    text-indent: -20px
    transition: opacity 1s .2s, .8s

    &--push
      $left: 100%/7
      margin-left: $left
      transition-delay: .4s, .2s

    &--hidden
      opacity: 0
      text-indent: -140px

    &::after
      display: block
